/* General styles */
main {
    justify-items: center;
}

#map {
    width: 100%;
}

main > img {
    width: 100%;
}

main > #short-description, main > #large-description {
    width: 100%;
}

main > section {
    width: 100%;
    display: flex;
    align-items: center;
}

#short-description > p {
    margin:0 1.5rem;
}

#large-description > p {
    margin:1rem 1.5rem;
}

/* Mobile */
main {
    grid-template-columns: 1fr;
    align-items: center;
    gap: 1rem;
}

#map {
    height: 40vh;
}

main > section {
    flex-direction: column;
}

/* Tablet */
@media screen and (min-width:576px) {
    main {
        grid-template-columns: repeat(2,1fr);
        align-items: initial;
        grid-template-areas: "img short-description"
                             "large-description large-description" 
                             "map map"
                             "contact contact";
    }

    main > img {
        grid-area: img;
    }

    main > #short-description {
        grid-area: short-description;
    }

    main > #large-description {
        grid-area: large-description;
    }

    #map {
        grid-area: map;
    }

    main > section {
        grid-area: contact;
        flex-direction: row;
        justify-content: space-evenly;
    }
}


/* Desktop */
@media screen and (min-width:768px) {
    main {
        gap: 1.2rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:repeat(3,auto); 
        grid-template-areas: "img map"
                             "short-description map"
                             "large-description contact";
    }    

    #map {
        height: 100%;
    }
}