/* Disable some bootstrap styles */
button, input, optgroup, select, textarea {
    font-family:initial;
    font-size:initial;
    line-height:initial;
}

body {
    line-height: normal;
}

.nav-link {
    display: initial;
}

.button:hover {
    color: initial;
}

ul a:hover {
    color: initial;
}

h1, h1, h3, h4, h5, h6 {
    font-weight: initial;
    line-height: initial;
}

.nav-link {
    padding: initial;
}

dl, ol, ul {
    margin-top: 1rem;
}


/* General styles */
p {
    margin: 0 1.5rem;
}

h1, h1, h3, h4, h5, h6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

main {
    margin-bottom: 1rem;
}

main > section {
    display: grid;
}

#product {
    display: grid;
    grid-auto-rows: auto;
    justify-items: center;
    gap: 1rem 0;
}

#product-controls {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:    "input  price"
                            "button button";
    justify-items: center;
    align-items: center;
    gap: 1.5rem 0;
}

#product-price {
    margin: 0;
}

#plant-care > h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

#related-products {
    display: grid;
    gap: 1rem;
}

.horizontal-card {
    display: grid;
    text-decoration: none;
    color: black;
}

.horizontal-card:hover {
    color: black;
}

.horizontal-card > img {
    width: 100%;
    margin-left: 0.5rem;
}

.horizontal-card > p {
    margin: 0;
}

#related-products > h1 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    text-align: center;
}

#product-quantity {
    padding-right: 0.2rem;
}

#add-to-cart {
    grid-area: button;
}

/* Mobile */
main > section {
    gap: 1rem 0;
    width: 100vw;
}

#product-controls {
    grid-row-start: 3;
}

#product-quantity {
    width: 100%;
}

#related-products {
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
}

.horizontal-card {
    grid-template-columns: 35% 1fr;
    justify-content: space-evenly;
    gap: 1.5rem;
    align-items: center;
}

/* Tablet */
@media screen and (min-width:576px){
    main > section {
        gap: 1rem 0.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:    "carousel         product"
                                "plant-care       plant-care"
                                "related-products related-products";
    }

    #plant-care {
        grid-area: plant-care;
    }

    #related-products {
        grid-area: related-products;
    }

    .horizontal-card {
        margin-left: 1rem;
        margin-right: 1rem;
        width: 70vw;
    }

    #product-title {
        text-align: center;
        margin-right: 0.5rem;
        display: flex;
        align-items: center;
    }

    #product-quantity {
        justify-self: end;
        width: 70%;
    }
}


/* Desktop */
@media screen and (min-width:768px){
    body > main {
        grid-template-columns: 20% 1fr;
        gap: 0 1rem;
    }

    main > section {
        width: initial;
    }

    #product-controls {
        grid-row-start: 2;
    }

    #related-products {
        grid-template-rows: auto 1fr;
        grid-template-columns: repeat(4, 1fr);
    }

    #related-products > h1 {
        grid-column-start: span 4;
    }

    .horizontal-card {
        width: unset;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, auto;
        justify-items: center;
        gap: 0.5rem;
    }
}