@font-face{
    font-family: "DejaVu Serif";
    src:url("/fonts/DejaVuSerif.woff2");
}

/* Styles */
body {
    font-family: "DejaVu Serif", serif;
}

p {
    line-height: 1.5rem;
}

.button {
    text-decoration: none;
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    text-align: center;
}

.button-wide{
    padding: 0.7rem 4rem;
}

.select {
    font-size: inherit;
    padding: 0.3em 1.4em 0.3em 0.3em;
    border: 1px solid #C5E1A5;
    border-radius: 0.3em;
    appearance: none;
    background-color: white;
    /* Icon */
    background-image: url("../images/down-arrow.svg");
    background-repeat: no-repeat;
    /* Icon position */
    background-position: right 0.7em top 50%;
    /* Icon size */
    background-size: 0.65em auto;
}

.select:focus {
    background-image: url("../images/up-arrow.svg");
    border: 1px solid #212121;
    outline: none;
}

.input {
    font-size: inherit;
    padding: 0.3em 1.4em 0.3em 0.3em;
    border: 1px solid #C5E1A5;
    border-radius: 0.3em;
    appearance: none;
    background-color: white;
}

.input:focus {
    background-image: url("../images/up-arrow.svg");
    border: 1px solid #212121;
    outline: none;
}

.checkbox{
    font-size: inherit;
    border: 1px solid #C5E1A5;
    /* border-radius: 0.3em; */
}

fieldset{
    border: none;
}

.no-text-decoration{
    text-decoration: none;
}

nav {
    font-size: 1.2rem;
}

.list {
    list-style: none;
    margin: 0;
}

.nav-list > li:hover {
    background-color: #C5E1A5;
}

.nav-link {
    text-decoration: none;
    font-variant: small-caps;
}

.material-icons {
    vertical-align: middle;
    padding-bottom: 0.2rem;
}

.icon {
    height: 1rem;
    cursor: pointer;
}

.icon-big {
    height: 1.5rem;
}

.search-input {
    height: 2.2rem;
    font-family: FontAwesome;
}

.active {
    background-color: #C5E1A5;
}

.breadcrumb {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin-bottom: 1rem;
    list-style: none;
    font-size: 1rem;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 0.5rem;
}

.breadcrumb-item + .breadcrumb-item::before {
    padding-right: 0.5rem;
    color: darkgray;
    content: ">";
}

/* Colors */
.text-green{
    color: #C5E1A5;
    fill: #C5E1A5;
}

.text-black{
    color: #212121;
    fill: #212121;
}

.text-white{
    color: #FFFFFF;
    fill: #FFFFFF;
}

.bg-green{
    background-color: #C5E1A5;
}

.bg-black{
    background-color: #212121;
}

.border-black {
    border-color: #212121;
}

.border-green {
    border-color: #C5E1A5;
}

.hidden-sm {
    display: none;
}
@media screen and (min-width:576px){
    .hidden-sm {
        display: unset;
    }
}

.hidden-md {
    display: none;
}
@media screen and (min-width:768px){
    .hidden-md {
        display: unset;
    }
}